{{!< catalog_wrapper}}

<desktop class="hidden-xs hidden-sm">
    <div class="sm-main row ">
        <div class="sm-navigation col-md-2">
          
                <div class="row header"><img src='http://nap-assets.nap-live.ext.net-a-porter.com/girdle/images/header/logo-net-a-porter.80097ad030588586.svg' class="logo"></div> 
                <div class="row contents"></div>
                <div class="row footer"></div>
            
        </div>
        <div class="sm-contents col-md-10">
            <div class="row top"></div>
            <div class="row showroom">
                <div class="col-md-3">
                    <div class="product-preview-wrapper"></div>
                </div>
                
                <div class="col-md-3">
                    <div class="product-preview-wrapper"></div>
                </div>
                
                <div class="col-md-3">
                    <div class="product-preview-wrapper"></div>
                </div>
                
                <div class="col-md-3">
                    <div class="product-preview-wrapper"></div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-12 pagination"> <ul></ul> </div>
            </div>
        </div>
    </div>
</desktop>

<mobile class="visible-xs visible-sm">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <a class="button">
                +
            </a>
            <img src='http://nap-assets.nap-live.ext.net-a-porter.com/girdle/images/header/logo-net-a-porter.80097ad030588586.svg' class="logo">
        </div>
    </nav>
    <div class="contents mobile-group">
        <div class="container">
            <div class="row forty">
                <div class="col-xs-6"> 
                    <div class="product-preview-wrapper"></div>
                </div>
                <div class="col-xs-6">
                    <div class="product-preview-wrapper"></div>
                </div>
            </div>
            <div class="row forty">
                <div class="col-xs-6"> 
                    <div class="product-preview-wrapper"></div>
                </div>
                <div class="col-xs-6"> 
                    <div class="product-preview-wrapper"></div>
                </div>
            </div>
        <div class="row twenty">
           <div class="pagination">
               <ul></ul>
           </div>
        </div>
        </div>
    </div>
    <div class="show mobile-group hidden">
        <h1>SHOW</h1>
    </div>
    <div class="filters mobile-group hidden">
        <h1>FILTERS</h1>
    </div>
</mobile>

