{{!< catalog_wrapper}}

<desktop class="hidden-xs hidden-sm">
    <div class="sm-main row ">
        <div class="sm-navigation col-md-2">
          
                <div class="row header">
                    <img src='http://nap-assets.nap-live.ext.net-a-porter.com/girdle/images/header/logo-net-a-porter.80097ad030588586.svg' class="logo">
                    </div> 
                <div class="row contents">
                    <div class="row type">
                        <h2> Clothing </h2>
                        <p>
                            CLOTHING
                            BEACHWEAR
                            BRIDAL
                            COATS
                            DENIM
                            DRESSES
                            EVENING
                            JACKETS
                            JEANS
                            JUMPSUITS
                            KNITWEAR
                            PANTS
                            SHORTS
                            SKIRTS
                            SUITS
                            TOPS
                        </p>
                    </div>

                    <div class="row designers">
                        <h2> Designers </h2>
                        <div class="designer-scroller">
                            <div class="designer-contents">
                                <ul class="designer-list">

                                </ul>
                            </div>
                            <div class="up">
                                <button class='glyphicon glyphicon-menu-up'></button>
                            </div>
                            <div class="down">
                                <button class='glyphicon glyphicon-menu-down'></button>
                            </div>
                            <div class="clear">
                                <button class='glyphicon glyphicon-remove'></button>
                            </div>
                        </div>

                    </div>
                    
                        <div class="row sort">
                            <h2> Sort </h2>
                            <ul class="sort">
                                <li data-toggle="on" data-sort="ascending">Price : Low</li>
                                <li data-toggle="off" data-sort="descending"> Price: High </li>
                            </ul>
                        </div>

                </div>
                <div class="row footer"></div>
            
        </div>
        <!-- PRODUCT-PREVIEW part of SM-CONTENTS group -->
        <div class="sm-contents col-md-10 product-preview">
            <div class="row top"></div>
            <div class="row showroom">
                <div class="col-md-3">
                    <div class="product-preview-wrapper"></div>
                </div>
                
                <div class="col-md-3">
                    <div class="product-preview-wrapper"></div>
                </div>
                
                <div class="col-md-3">
                    <div class="product-preview-wrapper"></div>
                </div>
                
                <div class="col-md-3">
                    <div class="product-preview-wrapper"></div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-12 pagination"> <ul></ul> </div>
            </div>
        </div>
        <!-- PRODUCT-DETAIL part of SM-CONTENTS group -->
        <div class="sm-contents col-md-10 product-detail hidden">

        </div>
    </div>
</desktop>

<mobile class="visible-xs visible-sm">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <a id="mobile-filters" class="button" data-toggle="off">
                +
            </a>
            <img src='http://nap-assets.nap-live.ext.net-a-porter.com/girdle/images/header/logo-net-a-porter.80097ad030588586.svg' class="logo">
        </div>
    </nav>
    <div class="contents mobile-group">
        <div class="container">
            <div class="row forty">
                <div class="col-xs-6"> 
                    <div class="product-preview-wrapper"></div>
                </div>
                <div class="col-xs-6">
                    <div class="product-preview-wrapper"></div>
                </div>
            </div>
            <div class="row forty">
                <div class="col-xs-6"> 
                    <div class="product-preview-wrapper"></div>
                </div>
                <div class="col-xs-6"> 
                    <div class="product-preview-wrapper"></div>
                </div>
            </div>
        <div class="row twenty">
           <div class="pagination">
               <ul></ul>
           </div>
        </div>
        </div>
    </div>

    <div class="product-detail mobile-group hidden">

    </div>

    <div class="filters mobile-group hidden">
        <div class="row designers">
        <h2> Designers </h2>
            <div class="designer-scroller">
                <div class="designer-contents">
                    <ul class="designer-list">

                    </ul>
                </div>
                <div class="up">
                    <button class='glyphicon glyphicon-menu-up'></button>
                </div>
                <div class="down">
                    <button class='glyphicon glyphicon-menu-down'></button>
                </div>
                <div class="clear">
                    <button class='glyphicon glyphicon-remove'></button>
                </div>
            </div>
    </div>
        
        <div class="row sort">
            <h2> Sort </h2>
            <ul class="sort">
                <li data-toggle="on" data-sort="ascending">Price : Low</li>
                <li data-toggle="off" data-sort="descending"> Price: High </li>
            </ul>
        </div>
        
    </div>
</mobile>

